<!-- views/inventory/detail.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title><%= vehicle.make %> <%= vehicle.model %> - Inventory Detail</title>
</head>
<body>
  <h1><%= vehicle.make %> <%= vehicle.model %> - Detail</h1>
  <%= wrapVehicleDataInHTML(vehicle) %>
</body>
</html>